<?xml version="1.0"?>
<config>
    <modules>
        <SM_Customer>
            <version>0.1.1</version>
        </SM_Customer>
    </modules>
    <admin>
        <fieldsets>
            <customer_dataflow>
                <contact_name><billing>1</billing><shipping>1</shipping></contact_name>
            </customer_dataflow>
        </fieldsets>
    </admin>
    <global>
        <resources>
            <sm_customer_setup>
                <setup>
                    <module>SM_Customer</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sm_customer_setup>
        </resources>
        <fieldsets>
            <customer_address>
                <contact_name>
                    <to_quote_address>*</to_quote_address>
                </contact_name>
            </customer_address>
            <sales_convert_quote_address>
                <contact_name>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </contact_name>
            </sales_convert_quote_address>
        </fieldsets>
    </global>
</config>