<?xml version="1.0"?>
<config>
    <modules>
        <SM_Setup>
            <version>0.1.2</version>
        </SM_Setup>
    </modules>
    <global>
        <resources>
            <sm_setup_setup>
                <setup>
                    <module>SM_Setup</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </sm_setup_setup>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <sm_sales_order_place_after>
                        <type>model</type>
                        <class>SM_Setup_Model_Observer</class>
                        <method>updateTransaction</method>
                    </sm_sales_order_place_after>
                </observers>
            </sales_order_place_after>
            <checkout_type_onepage_save_order>
                <observers>
                    <custom_comment_order>
                        <type>model</type>
                        <class>SM_Setup_Model_Observer</class>
                        <method>updateCommentOrder</method>
                    </custom_comment_order>
                </observers>
            </checkout_type_onepage_save_order>
        </events>
        <models>
            <sm_setup>
                <class>SM_Setup_Model</class>
            </sm_setup>
        </models>
    </global>
</config>